<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="space-evenly" class="custom-container">

  <div fxFlex="0 1 calc(50%)" fxFlex.lt-sm="100%" fxLayout="column" class="box-container">
    <b fxLayout="row" fxLayoutAlign="center center" fxFlex="100%" class="box-header">Navigazione</b>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%"><a routerLink="{{articles}}">News</a></div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%"><a routerLink="{{works}}">Lavori</a></div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100%"><a routerLink="{{contactUs}}">Contattami</a></div>
  </div>

  <div fxFlex="0 1 calc(50%)" fxFlex.lt-sm="100%" fxLayout="column" class="box-container">
    <b fxLayout="row" fxLayoutAlign="center" fxFlex="100%" class="box-header">Altro</b>
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="100%"><a routerLink="{{whoMadeThisWebsiteRoute}}">Who made this website</a></div>
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="100%">Falegnameria Sebastiano Falcone</div>
  </div>
</div>
