<h1 class="page-title">Contattami</h1>

<p class="page-description">Se hai bisogno di contattarmi, puoi farlo per e-mail compilando la form sotto e cliccando sul pulsante di invio.</p>

<div class="custom-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Inviami un'e-mail</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="submitForm()" class="custom-form">

        <mat-form-field class="form-field">
          <mat-label>La tua e-mail</mat-label>
          <input matInput [formControl]="email" placeholder="Es. thanh.guong@sebastianofalcone.com">

          <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
            E' richiesto un'indirizzo e-mail valido
          </mat-error>

          <mat-error *ngIf="email.hasError('required')">
            L'indirizzo e-mail è <strong>richiesto</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Messaggio</mat-label>
          <textarea matInput [mat-autosize]="true" [matAutosizeMinRows]="20" [formControl]="message" placeholder="Es. Vorrei contattarla per un preventivo..."
          ></textarea>
        </mat-form-field>

        <!-- [disabled]="!" -->
        <button type="submit" mat-button><mat-icon>email</mat-icon> Invia</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
