.custom-container
{
  margin: auto;
  padding: 16px;
  max-width: 1080px;
  min-height: 70%;
}

.custom-form
{

}

.form-field
{
  margin-top: 1%;
  margin-bottom: 1%;
  width: 100%;
}
