<div class="custom-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <a routerLink="/" mat-button>
        Falegnameria Sebastiano Falcone
      </a>
      <span class=""></span>
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <app-toolbar-button [item]=item1></app-toolbar-button>
        <app-toolbar-button [item]=item2></app-toolbar-button>
        <app-toolbar-button [item]=item3></app-toolbar-button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="push" #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" routerLink={{item1.route}} mat-list-item>
          <mat-icon>{{item1.icon}}</mat-icon>
          {{item1.name}}
        </a>
        <a (click)="sidenav.toggle()" routerLink={{item2.route}} mat-list-item>
          <mat-icon>{{item2.icon}}</mat-icon>
          {{item2.name}}
        </a>
        <a (click)="sidenav.toggle()" routerLink={{item3.route}} mat-list-item>
          <mat-icon>{{item3.icon}}</mat-icon>
          {{item3.name}}
        </a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon>
          Close
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
