<div
  class="custom-container"
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="space-evenly"
>
  <ng-container>
    <mat-card
      fxFlex="0 1 calc(100%"
      fxFlex.lt-md="0 1 calc(100%)"
      fxFlex.lt-sm="100%">
      <mat-card-content>
        There is more honor in death, than in life without test. There is more honor in death, than in life without test. There is more honor in death, than in life without test. There is more honor in death, than in life without test.
      </mat-card-content>
      <img mat-card-image src="https://via.placeholder.com/1920x1080">
      <mat-card-content>
        There is more honor in death, than in life without test. There is more honor in death, than in life without test. There is more honor in death, than in life without test. There is more honor in death, than in life without test.
      </mat-card-content>
      <img mat-card-image src="https://via.placeholder.com/1920x1080">
      <mat-card-content>
        There is more honor in death, than in life without test. There is more honor in death, than in life without test. There is more honor in death, than in life without test. There is more honor in death, than in life without test.
      </mat-card-content>
      <img mat-card-image src="https://via.placeholder.com/1920x1080">
      <mat-card-content>
        There is more honor in death, than in life without test. There is more honor in death, than in life without test. There is more honor in death, than in life without test. There is more honor in death, than in life without test.
      </mat-card-content>
      <img mat-card-image src="https://via.placeholder.com/1920x1080">
      <mat-card-content>
        There is more honor in death, than in life without test. There is more honor in death, than in life without test. There is more honor in death, than in life without test. There is more honor in death, than in life without test.
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
