<h1 class="page-title">Lavori</h1>

<p class="page-description">TODO.</p>

<div
  fxLayout="row wrap"
  fxLayout.lt-sm="column"
  fxLayoutAlign="space-evenly"
  class="custom-container"
>
  <ng-container *ngFor="let w of works">
    <app-work-card [name]="w.title" [image]="w.front_image" [id]="w.id" [description]="w.description"
                      fxFlex="1 1 calc(50%"
                      fxFlex.lt-md="1 1 calc(50%)"
                      fxFlex.lt-sm="100%">
    </app-work-card>
  </ng-container>
</div>
